@use "sass:color";
@import "/src/index.scss";

.profile-card-modal {
  .ant-modal-body {
    max-width: 450px;
    width: calc(98vw - 2rem);
    height: calc(96vh - 45px);
    max-height: 450px;

    .profile-card-header {
      @include flex-space();
      height: fit-content;
      width: 100%;
    }

    .ant-avatar {
      cursor: pointer;
    }

    .ant-empty {
      width: 100%;
      @include flex-cc(column);
    }

    .ant-card-meta {
      @include flex-sc();
      gap: 10px;

      .ant-card-meta-title {
        font-weight: 500;
        font-size: 1.05rem;
      }

      .ant-card-meta-description {
        font-size: 0.7rem;
      }
    }

    .profile-card-common-friends {
      @include flex-ss(column);
      gap: 10px;
      height: calc(100% - 3rem);
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}

.profile-options {
  .ant-dropdown-menu-dark {
    @include dark-header-style();
  }
}

.profile-card-modal.profile-card-dark {
  .ant-modal-body {
    .ant-empty {
      .ant-empty-description {
        color: $dark-color;
      }
    }

    .ant-divider {
      color: $dark-color;
      &::after {
        border-block-start-color: color.adjust($dark-color, $alpha: -0.8);
      }
    }
  }
}
