@import "/src/index.scss";

.message-section-container {
  height: calc(100% - 50px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  @include flex(flex-end, center, column);
  background-color: $light-background;

  .message-list-container {
    height: calc(100% - 50px);
    width: 96%;
    overflow-x: hidden;
    overflow-y: auto;
    @include flex(flex-end, center, column);
    gap: 10px;
  }
}

.message-section-container.message-section-dark {
  background-color: $dark-background;
}
