@import "/src/index.scss";

.authenticated-layout-header {
  height: 56px;
  width: calc(100dvw - 4rem);
  padding: 0 2rem;
  border-bottom: 1px solid $light-border;
  @include light-header-style;
  @include flex-space;

  .header-section {
    @include flex-sc;
    gap: 2rem;

    .user-name-container {
      cursor: pointer;
      @include flex-cc();
      gap: 10px;
    }

    .ant-input-affix-wrapper {
      transition: unset;
      input {
        transition: unset;
        &::placeholder {
          transition: unset;
        }
      }
    }
  }
}

.authenticated-layout-header.header-dark {
  @include dark-header-style;
  border-bottom: 1px solid $dark-border;

  .header-section {
    color: $white;

    .ant-badge {
      color: inherit;
    }

    .ant-input-affix-wrapper {
      background-color: $dark-background;
      color: $white;

      .ant-input-clear-icon {
        color: $dark-color;
      }

      input {
        background-color: inherit;
        color: inherit;
        &::placeholder {
          color: #f9f9f9aa;
        }
      }
    }
  }
}
