$blue: #00152a;
$lavender: #c5d1eb;
$powderBlue: #92afd7;
$grey: #5a7684;
$red: #ed254e;
$white: #f8f8f8;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}
