@import "/src/index.scss";

.settings-container {
  .ant-modal-content {
    width: 90vw;
    max-width: 550px;
    .ant-modal-body {
      .settings-fields-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;

        .formField-input-container {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .ant-row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .ant-col {
              width: fit-content;
              flex: unset;
            }

            .ant-form-item-control-input-content {
              width: fit-content;
              flex: unset;
            }
          }
        }
      }
    }

    .ant-modal-footer {
      @include flex(flex-end, center);
    }
  }
}

.settings-container.settings-dark {
  .ant-modal-content {
    .ant-modal-body {
      .ant-col {
        label {
          color: $white;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .settings-container {
    .ant-modal-content {
      height: 98vh;
    }
  }
}
