@import "/src/index.scss";

.settings-component {
  .ant-modal-content {
    .ant-modal-header {
      margin-bottom: 0;
    }

    .ant-menu-item {
      border-radius: 0;
    }

    .ant-layout-sider-light,
    .ant-layout-sider-trigger,
    .ant-menu {
      @include light-header-style();
    }

    .ant-menu-item-selected {
      background-color: $light-active;
    }

    .ant-modal-body {
      height: calc(98vh - 45px);
      max-height: 600px;
      width: calc(98vw - 2rem);
      max-width: 900px;
      padding: 0;

      .ant-layout-has-sider {
        height: calc(98vh - 45px);
        max-height: 600px;
        width: 100%;
      }

      .ant-layout-sider {
        height: calc(98vh - 45px);
        max-height: 600px;
      }

      .ant-layout-sider-trigger {
        bottom: unset;
        border-bottom-left-radius: 10px;
      }

      .settings-layout-body {
        height: 100%;
        padding: 0.5rem;
        @include light-body-style();
      }
    }
  }
}

.settings-component-dark {
  .ant-modal-content {
    .ant-modal-body {
      .settings-layout-body {
        @include dark-body-style();
      }
    }

    .ant-layout-sider-dark,
    .ant-layout-sider-trigger,
    .ant-menu {
      @include dark-header-style();
    }

    .ant-menu-item-selected {
      background-color: $dark-active;
    }
  }
}
