@import "/src/index.scss";

.new-group-modal {
  .ant-modal-content {
    width: 90vw;
    max-width: 550px;

    .ant-modal-body {
      @include flex-ss(column);
      gap: 1rem;

      .new-group-name {
        width: 100%;
      }

      .new-group-members {
        @include flex-cc(column);
        width: 100%;
        height: fit-content;
        max-height: calc(96vh - 2rem - 100px);
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
}

.group-modal-dark {
  .ant-modal-content {
    .ant-modal-body {
      .ant-empty-description {
        color: $dark-color;
      }
    }
  }
}
